<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">'    
    <link href="css/employee-currentdeals.css" rel="stylesheet">'

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>

  <body>

<div class="container">
 <form class="form-horizontal well" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Deal Name</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="ex. Movie Tickets - 10% off">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="2" placeholder='ex. Take 10% off any movie of your choice. Not valid Fridays and Saturdays after 7:00 PM'></textarea>
    </div>
  </div>
    <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-10">
      <select class="form-control">
  <option>Health & Wellness</option>
  <option>Entertainment</option>
  <option>Gifts & Shopping</option>
  <option>Travel</option>
  <option>Services</option>
</select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Cost to Employer</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="$">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Perq Active</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="mm/dd/yy">
    </div>
  </div>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Perq Expiration</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="mm/dd/yy">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-green">Submit</button>
    </div>
  </div>
</form>
</div>
  </body>
<html>