<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Perqs</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Thumbnail Gallery' Template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="css/employee-currentdeals.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Search New Perqs</h1>

            </div>

        <!-- Small button group -->
<div class="btn-group category-sort">
  <button type="button" class="btn btn-default">Health & Wellness</button>
  <button type="button" class="btn btn-default">Entertainment</button>
  <button type="button" class="btn btn-default">Gifts & Shopping</button>
  <button type="button" class="btn btn-default">Travel</button>
  <button type="button" class="btn btn-default">Services</button>
</div>
            <!-- Search Bar -->

        <form class="form-search searching">
            <div class="input-append">
                <input type="text" class="span2 search-query">
                <button type="submit" class="btn-sm">Search Available Deals</button>
            </div>
        </form>
<div class='clearfix'></div>

            <!-- Current Deal Box Display -->    
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green" href="#">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red" href="#">
                    <div class="discount red">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail purple" href="#">
                    <div class="discount purple">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown" href="#">
                    <div class="discount brown">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green" href="#">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail blue" href="#">
                    <div class="discount blue">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail yellow" href="#">
                    <div class="discount yellow">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red" href="#">
                    <div class="discount red">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail purple" href="#">
                    <div class="discount purple">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown" href="#">
                    <div class="discount brown">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail yellow" href="#">
                    <div class="discount yellow">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green" href="#">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
