<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Perqs</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Thumbnail Gallery' Template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="css/employee-currentdeals.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
<div class'container'>
<img src="http://i.imgur.com/wumzzfT.png">


        <div class="row">
          <div class="col-lg-12">
            <h2>Current Active Deals</h2>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green" href="#">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red" href="#">
                    <div class="discount red">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail purple" href="#">
                    <div class="discount purple">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown" href="#">
                    <div class="discount brown">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green" href="#">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green" href="#">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail yellow" href="#">
                    <div class="discount yellow">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red" href="#">
                    <div class="discount red">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
        </div>
</div>
<h1>Recent Requests</h1>
<table class="table table-hover">
<tr>
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Perq Requested</th>
            <th></th>
        </tr>
    </thead>
  <td>Jill Smith</td>
  <td>Yoga Studio East Village</td> 
  <td>Details</td>
</tr>
<tr>
  <td>John Doe</td>
  <td>AMC Movie Tickets</td> 
  <td>Details</td>
</tr>
</table>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>


</body>
</html>