<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Perqs</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Thumbnail Gallery' Template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="css/employee-currentdeals.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <style>

</style>
</head>

<body>
    <img src="http://i.imgur.com/jmdthY9.png">
<h1>Recent Requests</h1>
<table class="pull-right table table-hover">
<tr>
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Perq Requested</th>
            <th></th>
        </tr>
    </thead>
  <td>Jill Smith</td>
  <td>Yoga Studio East Village</td> 
  <td>Details</td>
</tr>
<tr>
  <td>John Doe</td>
  <td>AMC Movie Tickets</td> 
  <td>Details</td>
</tr>
</table>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>


</body>
</html>