<link href="styles/thumbnail-gallery.css" rel="stylesheet">
<link href="styles/employee-currentdeals.css" rel="stylesheet">

<div class="row">
          <div class="col-lg-12">
            <h1>Recent Activity <small></small></h1>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              (3) Employees have requested new deals since you last logged in.
            </div>
          </div>
        </div><!-- /.row -->

<a href="#/companyViewRequests">
<img src="http://i.imgur.com/wumzzfT.png">
</a>

<div class="row">
          <div class="col-lg-12">
            <h2>Current Active Perqs</h2>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green">
                    <div class="discount green">
                        <p class="discount-title">West Village Pilates</p>
                        <hr>
                        <p class='description'>Receive 50% off your first month of unlimited classes with West Village Pilates. </p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red">
                    <div class="discount red">
                        <p class="discount-title">Lion King Musical</p>
                        <hr>
                        <p class='description'>Buy four or more tickets to Lion King the Musical and receive 25% off. Popcorn included.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red">
                    <div class="discount red">
                        <p class="discount-title">Laura's Popcorn Shoppe</p>
                        <hr>
                        <p class='description'>Buy one get one free gift baskets of popcorn. The perfect gift for all your friends and family.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red">
                    <div class="discount red">
                        <p class="discount-title">Maid Cleaning Service</p>
                        <hr>
                        <p class='description'>Purchase 10 cleaning sessions and recieve 2 free! New customers only. Book online.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red">
                    <div class="discount red">
                        <p class="discount-title">State Farm Insurance</p>
                        <hr>
                        <p class='description'>Discounts of up to 40% when you switch. Save $200 or more on car, home, and life insurance.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail yellow">
                    <div class="discount yellow">
                        <p class="discount-title">Of Mice and Men</p>
                        <hr>
                        <p class='description'>Save up to $19.50 per ticket for a Matinee showing in New York, NY. Book in advance online.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail yellow">
                    <div class="discount yellow">
                        <p class="discount-title">Legoland</p>
                        <hr>
                        <p class='description'>Save up to 33% per adult ticket and up to 70% on child tickets. Limit 10 per customer.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail blue">
                    <div class="discount blue">
                        <p class="discount-title">Universal Studios</p>
                        <hr>
                        <p class='description'>Save 25% on Adult admission to Universal Studios. Save 30% on Child addmission.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail blue">
                    <div class="discount blue">
                        <p class="discount-title">Apple</p>
                        <hr>
                        <p class='description'>Save 20% when you purchase a new Macbook, iPad, iPad or iPhone. Upgrade to an Apple product today!</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail blue">
                    <div class="discount blue">
                        <p class="discount-title">Archery Classes</p>
                        <hr>
                        <p class='description'>10 private archery lessons for only $150 or special introductory lesson for $5. Learn Archery today!</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail purple">
                    <div class="discount purple">
                        <p class="discount-title">Legoland</p>
                        <hr>
                        <p class='description'>Save up to 33% per adult ticket and up to 70% on child tickets. Limit 10 per customer.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail purple">
                    <div class="discount purple">
                        <p class="discount-title">Universal Studios</p>
                        <hr>
                        <p class='description'>Save 25% on Adult admission to Universal Studios. Save 30% on Child addmission.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown">
                    <div class="discount brown">
                        <p class="discount-title">Apple</p>
                        <hr>
                        <p class='description'>Save 20% when you purchase a new Macbook, iPad, iPad or iPhone. Upgrade to an Apple product today!</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown">
                    <div class="discount brown">
                        <p class="discount-title">Archery Classes</p>
                        <hr>
                        <p class='description'>10 private archery lessons for only $150 or special introductory lesson for $5. Learn Archery today!</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown">
                    <div class="discount brown">
                        <p class="discount-title">Legoland</p>
                        <hr>
                        <p class='description'>Save up to 33% per adult ticket and up to 70% on child tickets. Limit 10 per customer.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Details</button></center>
                    </div>
                </a>
            </div>
        </div>

          </div>
        </div>