<link href="styles/thumbnail-gallery.css" rel="stylesheet">
<link href="styles/employee-currentdeals.css" rel="stylesheet">


<div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">New Perqs</h1>

            </div>

        <!-- Small button group -->
<div class="btn-group category-sort">
  <button type="button" class="btn btn-default">Health & Wellness</button>
  <button type="button" class="btn btn-default">Entertainment</button>
  <button type="button" class="btn btn-default">Gifts & Shopping</button>
  <button type="button" class="btn btn-default">Travel</button>
  <button type="button" class="btn btn-default">Services</button>
</div>
            <!-- Search Bar -->

        <form class="form-search searching">
            <div class="input-append">
                <input type="text" class="span2 search-query">
                <button type="submit" class="btn-sm">Search New Perqs</button>
                <button type="button" class="btn-sm" ng-click="goToCurrentDeals()"><span class="glyphicon glyphicon-backward"></span> Back to Current Perqs</button>
            </div>
        </form>
<div class='clearfix'></div>

            <!-- Current Deal Box Display -->    
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red">
                    <div class="discount red">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail purple">
                    <div class="discount purple">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown">
                    <div class="discount brown">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail yellow">
                    <div class="discount yellow">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail red">
                    <div class="discount red">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail purple">
                    <div class="discount purple">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail brown">
                    <div class="discount brown">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail yellow">
                    <div class="discount yellow">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail green">
                    <div class="discount green">
                        <p class="discount-title">AMC Theatres</p>
                        <hr>
                        <p class='description'>Receive 10% off any movie ticket. Not valid on Friday and Saturday nights after 7pm.</p>
                        <hr>
                        <center><button type="button" class="btn btn-default">Gimme</button></center>
                    </div>
                </a>
            </div>
        </div>
