<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to Perqy</h1>
                    <h3>Where Employees & Discounts Come Together</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li><a href="#/register" class="btn btn-default btn-lg"> <span class="network-name">Register</span></a>
                        </li>
                        <li class="register"><a href="#/login" class="btn btn-default btn-lg"> <span class="network-name">Log In</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->